{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{user.username}} :: Add Course</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'firstapp/style.css' %}" />

</head>

<style type="text/css">
 td{
  text-align: left;
  padding-left: 110px;
 }
 .al{
  padding-left: 20px;
 }
</style>

<body onload="init()">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" href="#">Feeder14</a>
    </div>
    <ul class="nav navbar-nav">
    <li><a href="/firstapp/login/">Home</a></li>
      <li class="active"><a href="/firstapp/Course_reg/">Add a new Course</a></li>
      <li><a href="/firstapp/add_students/">Add Students</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href=""><span class="glyphicon glyphicon-user"></span>{{user.first_name}} {{user.last_name}}</a></li>
      <li><a href="/firstapp/logout/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>
<br><br><br><br>

<div class="col-sm-4">
</div>
<div class="jumbotron col-sm-4 mm ">
<form id= "fform" method="post" action="">
  {% csrf_token %}
  <table>
  <td class="al"><span class="entypo-user "></span>
    {{form.name}}
    </td>
  </table>
  <br> 
  <table>
   <td><button class="submit button" >Add Course</button></td>
   </table>
</form>

</div>
 <script >
  function init()
  {
    x = document.getElementById("fform");
    x['name'].placeholder="                    Course Name"; // do not remove these spaces(part of styling)
    x['course_name'].value="{{course_name}}";
    
    
  }
  </script>
</body>