<head>
  <title>{{user.username}} :: Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" href="#">Feeder14</a>
    </div>
    <ul class="nav navbar-nav">
    <li ><a href="/firstapp/login/">Home</a></li>
      {% if not superU %}
      <li><a href="/firstapp/feed/">Add a Feedback Form</a></li>
      <li><a href="#">See Feedback Results</a></li>
      <li><a href="#">See Form Submissions</a></li>
      <li><a href="/firstapp/add_deadline/">Add a Deadline</a></li>
      <li><a href="#">See existing deadlin</a></li>
      <li><a href="/firstapp/see_courses/">View Feedback Forms</a></li>
      {% endif %}
      {%if superU %}
      <li class="active"><a href="/firstapp/Course_reg/">Add a new Course</a></li>
      <li><a href="/firstapp/add_students/">Add Students</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href=""><span class="glyphicon glyphicon-user"></span>{{user.first_name}} {{user.last_name}}</a></li>
      <li><a href="/firstapp/logout/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>
<br><br><br>
<div class="container">
  <h2></h2>
  </div>

<form method="post" id ="dform">
    {% csrf_token %}

  {{ form.as_table}}
    
  <button type="submit" id="alpha" formaction="">See </button> </form>


<div class="jumbotron col-sm-12 t" >
<ul class="text">
Feedback Forms:
   <!--  {% for ques in quesl%}
        <li>{{ques.question_text}}</li>
    {%endfor%} -->
    {% for form in formsl %}
      <a href="#" class="list-group-item">{{form.name}}</a>
  {% endfor %}
</ul>
</div>

  <div class="jumbotron col-sm-12 t" >
<ul class="text">

   <!--  {% for ques in quesl%}
        <li>{{ques.question_text}}</li>
    {%endfor%} -->
    {% for ques in quesl %}
    {{ques.forname}}
      <a href="#" class="list-group-item">{{ques.question_text}}</a>
  {% endfor %}
</ul>
</div>