{% load static %}

<html>
<head>
 <title>{{user.username}} :: Add Deadline</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'firstapp/Theme/assets/css/register.css' %}" />



<style type="text/css">
   
    .jumbotron{
    text-align :center;
    border-radius: 10px;

    /*font-size: 60px;*/
  }
  .my{
    font-size: 28px;
    border-radius: 0px;
    background-color:#4CAF50;
    color:white;
    font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .t{
    border-radius: 0px;
    background-color: white;
  }
  .text{
    font-size: 25px;
  }
  table {
  
    width: 50%;
}

td {
    text-align: right;
    padding: 0px;
}
th {
    text-align: right;
    padding: 8px;
}
.btn{
  background-color: #4CAF50;
}

</style>

</head>

<body onload="init()">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" href="#">Feeder14</a>
    </div>
    <ul class="nav navbar-nav">
    <li ><a href="/firstapp/login/">Home</a></li>
      {% if not superU %}
      <li><a href="/firstapp/feed/">Add a Feedback Form</a></li>
      <li><a href="#">See Feedback Results</a></li>
      <li><a href="#">See Form Submissions</a></li>
      <li class="active"><a href="/firstapp/add_deadline/">Add a Deadline</a></li>
      <li><a href="#">See existing deadlin</a></li>
      <li><a href="/firstapp/see_courses/">View Feedback Forms</a></li>
      {% endif %}
      {%if superU %}
      <li><a href="/firstapp/Course_reg/">Add a new Course</a></li>
      <li><a href="/firstapp/add_students/">Add Students</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href=""><span class="glyphicon glyphicon-user"></span>{{user.first_name}} {{user.last_name}}</a></li>
      <li><a href="/firstapp/logout/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>

<br><br>
<div class="jumbotron my">
Feeder14: Deadline Form<br>
</div>


  <div class="col-sm-1">
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-1">
  </div>
          <div class="col-sm-6 col-lg-6">
            <div id="register-wraper">
                <form id="fform" class="form" method="post">
                 {% csrf_token %}
                   
                
                    <div class="body">
                   <label for="name">Assignment</label>
                
                    <div class="input-huge"> {{form.name}}  </div>
                      
                    <label for="surname">Time</label>
                     <div class="input-huge"> {{form.time}}</div>
                     <label>Date</label>
                        <div class="input-huge">{{form.date}}</div>
                   
                     
                      <label>Description</label>
                        <div > {{form.description}}</div>
                     
                    </div>
                
                    <br><br>
                       
                        <button type="submit" class="btn btn-default ">Add deadline</button>
                    
                </form>
            </div>
          </div>

        </div>

<script >
  function init()
  {
    x = document.getElementById("fform");
    x['name'].placeholder="Enter ";
    x['time'].placeholder="HH MM SS";
    x['date'].placeholder="dd/mm/yy"
    x['description'].placeholder="Problem Description";
    x['description'].size="20";
  }
</script>



 
</body>
</html>