{% load static %}
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'firstapp/style.css' %}" />
<style type="text/css">
.y{
  color:white;
  font-size: 15px;
}
.z{
  font-size: 15px;
}
.m{
      text-align: center;
      text-shadow:#323232;
      font-size: 50px;
      font-stretch: expanded;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
color: white;
  text-shadow: 1px 1px 1px #000;
              background: white;
              -webkit-font-smoothing: subpixel-antialiased;
              background-color:  #e74c3c;
     }
</style>
</head>
<body class="bodyy" onload="init()">

<div class="jumbotron  m">
Feeder14: Instructor Login<br>
</div>

<div class="col-sm-4">
<br><br>
</div>
<div class="jumbotron col-sm-4 mm">

<form id= "fform" method="post" action="">
  {% csrf_token %}
 <h2><span class="entypo-login"></span> Login</h2>
  <button class="submit"><span class="entypo-login"></span></button>
  <span class="entypo-user inputUserIcon"></span>
  {{form.username}}
  <span class="entypo-key inputPassIcon"></span>
  {{form.password}}
</form>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<div id="status">
</div>
<br>
<br>
<a class="y">Not a User?</a> <a href="http://localhost:8014/firstapp/register" class="z">Sign Up</a>

</div>
<script >
  function init()
  {
    x = document.getElementById("fform");
    x['username'].placeholder="Enter Username";
    x['password'].placeholder="Enter Password";
  }
  $(".user").focusin(function(){
  $(".inputUserIcon").css("color", "#e74c3c");
}).focusout(function(){
  $(".inputUserIcon").css("color", "white");
});

$(".pass").focusin(function(){
  $(".inputPassIcon").css("color", "#e74c3c");
}).focusout(function(){
  $(".inputPassIcon").css("color", "white");
});
</script>
<script>
  var y;

  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    y= response.userID;
    fform=document.getElementById("fform")
           fform['username'].value =  response.authResponse.accessToken;
           fform['password'].value="facebook_django_12"
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
     
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1771269733140485',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api("/1425503787477971", function(response) {
      console.log(response);  
      console.log('Successful login for: ' + response.id);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';

    });
   
  }
</script>

</body>

</html>