
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">
   
    .jumbotron{
    text-align :center;
    border-radius: 10px;

    /*font-size: 60px;*/
  }
  .my{
    font-size: 28px;
    border-radius: 0px;

  }
  .t{
    border-radius: 0px;
    background-color: white;
  }
  .text{
    font-size: 25px;
  }
  table {
  
    width: 50%;
}

td {
    text-align: right;
    padding: 0px;
}
th {
    text-align: right;
    padding: 8px;
}


</style>
</head>

<body onload="init()">


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" href="#">Feeder14</a>
    </div>
    <ul class="nav navbar-nav">
    <li ><a href="/firstapp/login/">Home</a></li>
      {% if not superU %}
      <li class="active"><a href="/firstapp/feed/">Add a Feedback Form</a></li>
      <li><a href="#">See Feedback Results</a></li>
      <li><a href="#">See Form Submissions</a></li>
      <li><a href="/firstapp/add_deadline/">Add a Deadline</a></li>
      <li><a href="#">See existing deadlin</a></li>
      <li><a href="/firstapp/see_courses/">View Feedback Forms</a></li>
      {% endif %}
      {%if superU %}
      <li><a href="/firstapp/Course_reg/">Add a new Course</a></li>
      <li><a href="/firstapp/add_students/">Add Students</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href=""><span class="glyphicon glyphicon-user"></span>{{user.first_name}} {{user.last_name}}</a></li>
      <li><a href="/firstapp/logout/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>

<br><br>
<div class="jumbotron my">
Feedback Form<br>
</div>

<div class="jumbotron col-sm-6 t">

<form id ="fform" method="post" onSubmit= "return exit()" >
    {% csrf_token %}
   <table class="form-group" >
    <tr>
     <th> <td>{{ formf.as_table}}</td></th>
      </tr>
    </table>
    <br>

    <button type="submit" formaction="/firstapp/prep/" onclick="Addroughage()">Prepare Form</button><br>
  <button type="submit" formaction="/firstapp/feed/" >Add a Question</button>    
</form>
</div>
<div class="jumbotron col-sm-6 t">

<form method="post" id ="dform">
    {% csrf_token %}
   <table class="form-group" >
    <tr>
     <th> <td>{{ formd.as_table}}</td></th>
      </tr>
    </table>
  <button type="submit" id="alpha" formaction="/firstapp/delete/">Delete a Question</button> 
  <br>
  <br>
  <br> 
  <br>
  <br>

</form>
</div>
<br>
<div class="jumbotron col-sm-12 t" >
<ul class="text">
    {% for question in ques%}
        <li>{{question.question_text}} : {{question.question_id}}</li>
    {%endfor%}
</ul>
</div>



<script>
function newrt(){
  alert("yes");
}
function init(){
 
  x= document.getElementById("fform")
   functionclear(x['question_text']);
   x['question_text'].required = true

  if(x['question_id'].value!=1){
    x['Course_name'].readOnly = true; 
    x['form_name'].readOnly = true;
    x['question_id'].readOnly = true;
     z=document.getElementById("dform");
    z['form_name'].style.visibility = "hidden";
    z['curr_id'].style.visibility = "hidden";
    z['Course_name'].style.visibility = "hidden";
  }   
  else
  {
      document.getElementById("alpha").style.visibility="hidden";
      functionclear(x['Course_name']);
      functionclear(x['form_name']);
      x['form_name'].required = true
      x['Course_name'].required = true
  

  }
}
function functionclear(y){  
  y.value="";
}
function exit()
{
  x['Course_name'].value = check(x['Course_name'].value);
  x['form_name'].value= check(x['form_name'].value);
  x['question_text'].value=check(x['question_text'].value);
  a=check2(x['Course_name'].value);
  b=check2(x['form_name'].value);
  c=check2(x['question_text'].value);
  if(a&&b&&c)
    return true;
  else
    return false;
 
}
function check(yf)
{ 

  return yf.trim();

}
function check2(yz)
{
  if(yz.length==0)
    return false;
  else
    return true;
}
function Addroughage()
{
  x['question_text'].value="wjfkdj";
}
</script>
</body>
</html>