{% load static %}
<html>
<head>
 <meta charset="utf-8">
    <title>BLOCKS - Bootstrap Dashboard Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Le styles -->
   

<link rel="stylesheet" type="text/css" href="{% static 'firstapp/Theme/assets/css/register.css' %}" />


  
    <style type="text/css">
     .m{
      text-align: center;
      text-shadow:#323232;
      font-size: 50px;
      font-stretch: expanded;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
color: white;
  text-shadow: 1px 1px 1px #000;
              background: white;
              -webkit-font-smoothing: subpixel-antialiased;
              background-color:  #e74c3c;
     }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

 
  </head>
</head>
<body onload="init()">
  
       
       <div class=" jumbotron m body">
           Feeder14: User Register
    </div>
        


          

  <div class="col-sm-1">
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-1">
  </div>
          <div class="col-sm-6 col-lg-6">
            <div id="register-wraper">
                <form id="fform" class="form" method="post">
                 {% csrf_token %}
                   
                
                    <div class="body">
                   <label for="name">First name</label>
                
                    <div class="input-huge"> {{form.first_name}}  </div>
                      
                    <label for="surname">Last name</label>
                     <div class="input-huge"> {{form.last_name}}</div>
                     <label>Username</label>
                        <div class="input-huge">{{form.username}}</div>
                   
                     
                      <label>E-mail</label>
                        <div class="input-huge"> {{form.email}}</div>
                      <label>Password</label>
                        <div class="input-huge">{{form.password}}</div>
                          <label>Re-Enter Password</label>
                       <div class="input-huge"> {{form.re_enter_password}}</div>
                    
                    </div>
                
                    
                       
                        <button type="submit" class="btn btn-default ">Register</button>
                    
                </form>
            </div>
          </div>

        </div>
    

  <!-- <div id="footerwrap">
        <footer class="clearfix"></footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-12">
            <p><img src="assets/img/logo.png" alt=""></p>
            <p>Blocks Dashboard Theme - Crafted With Love - Copyright 2013</p>
            </div>

          </div><! /row -->
       </div><!-- /container -->   
  </div><!-- /footerwrap --> 


   <script >
  function init()
  {
    x = document.getElementById("fform");
    x['first_name'].placeholder="                          Enter Firstname";
    x['last_name'].placeholder="                           Enter Lastname";
    x['username'].placeholder="                           Enter Username";
    x['email'].placeholder="                             Enter E-mail";
    x['password'].placeholder="                          Enter Password";
    x['re_enter_password'].placeholder="                        Re-Enter Password";
  }
</script>
  
</body></html>