﻿/* $REGISTER */
#register-wraper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
-webkit-box-shadow: 0px 200px 300px 200px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 200px 300px 200px rgba(0,0,0,0.25);
box-shadow: 0px 200px 300px 200px rgba(0,0,0,0.25);
  margin-top: 25px;
  margin-bottom: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #323232;
  text-align: center;
}

.input-huge{
  padding-left: 230px;
}

 .btn {
  padding: 10px 70px;
  font-size: 20px;
  color: white;
    /*text-shadow: 0px 0px .5px #000;*/
  background-color: #e74c3c;
  
}

input::-webkit-input-placeholder {
  color: white;
}

input:focus::-webkit-input-placeholder {
  color: #e74c3c;
}
input {
  padding: 10px;
  border-radius:7px;
  border:0px;
  background: rgba(255,255,255,.2);
  display: block;
  margin: 10px;
  width: 400px;  
  color:white;
  font-size:18px;
  height: 44px;
}

input:focus {
  outline-color: rgba(0,0,0,0);
  background: rgba(255,255,255,.95);
  color: black;
}



/* login form */

/* register form */

 label {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: white;
  font-weight: 300;
}

/* register info */




/* LOGIN PAGE CONFIGURATION  */







