{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{user.username}} :: Add Students</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'firstapp/style.css' %}" />
</head>
<body onload= init()>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" href="#">Feeder14</a>
    </div>
    <ul class="nav navbar-nav">
    <li><a href="/firstapp/login/">Home</a></li>
      <li><a href="/firstapp/Course_reg/">Add a new Course</a></li>
      <li class="active"><a href="/firstapp/add_students/">Add Students</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href=""><span class="glyphicon glyphicon-user"></span>{{user.first_name}} {{user.last_name}}</a></li>
      <li><a href="/firstapp/logout/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>
<br><br><br><br>
<div class="col-sm-4">
</div>
<div class="jumbotron col-sm-4 mm ">
<form id ="fform" method="post" action="" enctype="multipart/form-data" >
    {% csrf_token %}
   <!-- <table class="form-group" > -->
    
   
  
     <table> 
     <tr>
     <th class="design">File: (in csv format)</th>
     </tr>
     <tr>
      <th class="al">{{form.file}}</th>
      </tr>
     </table>
     <table>
  <td class="al"><span class="entypo-user "></span>
    {{form.course_name}}
    </td>
  </table>
   
    <br>

    <table><td class="td"><button type="submit " class="submit button" formaction="/firstapp/add_students/" >Add</button></td>
    </table>
    <br>  
</form>
</div>
<style type="text/css">
  .design{
    padding-left: 20px;
    font-size: 20px;
    color: white;
  }
  .td{
  text-align: left;
  padding-left: 110px;
 }
 .al{
  padding-left: 20px;
 }


</style>
<script>
	function init(){
		x = document.getElementById("fform");
    x['course_name'].placeholder="                 Course Name" // do not remove these spaces(part of styling)
		x['course_name'].value="{{course_name}}";
	}
</script>
</body>
</html>