<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  .jumbotron{
  	text-align :center;
  	font-size: 60px;
  }
</style>
</head>
<body>

<div class="jumbotron"><b>
{{errorM}}</b>
</div>
<div class="container-fluid">
    
    <div class="row-fluid">
      <div class="span4 offset4 text-center">
        <a type="button" class="btn btn-primary" style='color: #ffffff' align="center" href={{link}}>{{butt}}</a>
  
      </div>
    </div>
    
  </div>

</body>
</html>