<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{user.username}} :: Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body onload="init()">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" href="#">Feeder14</a>
    </div>
    <ul class="nav navbar-nav">
    <li class="active"><a href="/firstapp/login/">Home</a></li>
      {% if not superU %}
      <li><a href="/firstapp/feed/">Add a Feedback Form</a></li>
      <li><a href="#">See Feedback Results</a></li>
      <li><a href="#">See Form Submissions</a></li>
      <li><a href="/firstapp/add_deadline/">Add a Deadline</a></li>
      <li><a href="#">See existing deadlin</a></li>
      <li><a href="/firstapp/see_courses/">View Feedback Forms</a></li>
      {% endif %}
      {%if superU %}
      <li><a href="/firstapp/Course_reg/">Add a new Course</a></li>
      <li><a href="/firstapp/add_students/">Add Students</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href=""><span class="glyphicon glyphicon-user"></span>{{user.first_name}} {{user.last_name}}</a></li>
      <li><a href="/firstapp/logout/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>
<br><br><br>
<div class="container">
  <h2>Running Courses</h2>
  <div class="list-group">
  {% for course in allC %}
      <a  class="list-group-item">{{course.course_name}} - {{course.student_set.count}}</a>
  {% endfor %}
  {% if allC.count == 0%}
  No Courses Added Yet
  {% endif %}

  </div>
  <h id="demo"></h>
</div>

<!-- <footer>Made By Group 14</footer> -->
</body>
</html>