{% load static %}
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'firstapp/style.css' %}" />

</head>
<body class="bodyy" onload="init()">

<div class="jumbotron  m">
<h class="t">Feeder14: Instructor Login</h><br>
</div>

<div class="col-sm-4">
<br><br>
</div>
<div class="jumbotron col-sm-4 mm">
<form id= "fform" method="post" action="">
	{% csrf_token %}
 <h2><span class="entypo-login"></span> Login</h2>
  <button class="submit"><span class="entypo-login"></span></button>
  <span class="entypo-user inputUserIcon"></span>
  {{form.username}}
  <span class="entypo-key inputPassIcon"></span>
  {{form.password}}
</form>




</div>

<script >
  function init()
  {
    x = document.getElementById("fform");
    x['username'].placeholder="Enter Username";
    x['password'].placeholder="Enter Password";
  }
  $(".user").focusin(function(){
  $(".inputUserIcon").css("color", "#e74c3c");
}).focusout(function(){
  $(".inputUserIcon").css("color", "white");
});

$(".pass").focusin(function(){
  $(".inputPassIcon").css("color", "#e74c3c");
}).focusout(function(){
  $(".inputPassIcon").css("color", "white");
});
</script>
</body>

</html>